/* Font Family Utilities (these allow you to assign a font to any element) */
.gc-font-sans-serif {
    font-family: var(--theme-font-sans-serif, var(--default-font-sans-serif));
}
.gc-font-serif {
    font-family: var(--theme-font-serif, var(--default-font-serif));
}
.gc-font-script {
    font-family: var(--theme-font-script, var(--default-font-script));
}
.gc-font-monospace {
    font-family: var(--theme-font-monospace, var(--default-font-monospace));
}

/* Line Height */
h1, h2, h3, h4, h5, p {
    line-height: var(--theme-font-line-height, var(--default-font-line-height));
}

/* Headings */
.gc-h1 {
    color: var(--theme-h1-color, var(--default-h1-color));
    font-family: var(--theme-h1-font, var(--default-h1-font));
    font-size: var(--theme-font-size-h1, var(--default-font-size-h1));
    font-weight: var(--theme-h1-font-weight, var(--default-h1-font-weight));
    line-height: var(--theme-font-line-height, var(--default-font-line-height));
}
.gc-h2 {
    color: var(--theme-h2-color, var(--default-h2-color));
    font-family: var(--theme-h2-font, var(--default-h2-font));
    font-size: var(--theme-font-size-h2, var(--default-font-size-h2));
    font-weight: var(--theme-h2-font-weight, var(--default-h2-font-weight));
    line-height: var(--theme-font-line-height, var(--default-font-line-height));
}
.gc-h3 {
    color: var(--theme-h3-color, var(--default-h3-color));
    font-family: var(--theme-h3-font, var(--default-h3-font));
    font-size: var(--theme-font-size-h3, var(--default-font-size-h3));
    font-weight: var(--theme-h3-font-weight, var(--default-h3-font-weight));
    line-height: var(--theme-font-line-height, var(--default-font-line-height));
}
.gc-h4 {
    color: var(--theme-h4-color, var(--default-h4-color));
    font-family: var(--theme-h4-font, var(--default-h4-font));
    font-size: var(--theme-font-size-h4, var(--default-font-size-h4));
    font-weight: var(--theme-h4-font-weight, var(--default-h4-font-weight));
    line-height: var(--theme-font-line-height, var(--default-font-line-height));
}
.gc-h5 {
    color: var(--theme-h5-color, var(--default-h5-color));
    font-family: var(--theme-h5-font, var(--default-h5-font));
    font-size: var(--theme-font-size-h5, var(--default-font-size-h5));
    font-weight: var(--theme-h5-font-weight, var(--default-h5-font-weight));
    line-height: var(--theme-font-line-height, var(--default-font-line-height));
}