<!DOCTYPE html>

<html lang="en">

    <head>

        {# Site Title #}
        <title>GC Design: CSS Themeing Proposal</title>
        
        {# Charset #}
        <meta charset="utf-8" />

        {# Compatibility #}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {# Viewport #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Your CSS #}
        <link async href="css/app.css" rel="stylesheet">

    </head>

    <body>

        <blockquote class="gc-blockquote">
            <p>This is blockquote text.</p>
        </blockquote>

        {# JavaScript #}
        <script src="js/app.js"></script>

    </body>

</html>
