:root {
    /* Containers =========================================================== */
    /* Small: used for containing text and ensuring readability of long swaths of text. */
    --default-layout-small: 39rem;
    /* Medium: used for general UI. */
    --default-layout-medium: 60rem;
    /* Large: used for large grids, or more complex UI that needs horizontal space. */
    --default-layout-large: 80rem;
    /* There should also be a larger, default container that maintains full-screen width (with padding if we want whitespace on the edges) */
    /* Whitespace =========================================================== */
    /* First, we set our defaults. These, along with "whitespace-multiplier" below, are the variables that get theme equivalents.  */
    --default-margin-default: 1rem;
    --default-padding-default: 1rem;
    /* The multiplier that is used in our media query calculations to ensure consistency in scale as the device's screen grows. */
    --default-whitespace-multiplier: 1.2;
    /* Now we set the values for usage. These aren't theme editable because they use the default values set above. */
    --default-margin-value: var(--theme-margin-default, var(--default-margin-default));
    --default-padding-value: var(--theme-margin-default, var(--default-margin-default));
    /* Typography =========================================================== */
    /* Font Types - to help avoid using multiple fonts inconsistently, we can set default fonts for serif, sans-serif, monospace, and script. This doesn't prevent other fonts from being used, but it allows us to set the fonts on components and maintain that consistency across the experience. */
    --default-font-sans: "Arial", sans-serif;
    --default-font-sans-serif: var(--theme-font-sans, var(--default-font-sans)); /* Sometimes people want to type out the whole name, so this is repeated for their sake. */
    --default-font-serif: "Times New Roman", serif;
    --default-font-mono: "Consolas", monospace;
    --default-font-monospace: var(--theme-font-mono, var(--default-font-mono)); /* Same idea here. */
    --default-font-script: script;
    /* We can define a universal line height. */
    --default-font-line-height: 1.5;
    /* This variable should be used on the HTML. It tells the site to respect the user's browser font size setting at 100%. Typically this variable can be set to something slightly lower than 100% on smaller devices, and something slightly higher on larger devices. Providing a variable for this allows the site to cater to different audiences (maybe they want their default font size to always be 150% of the user's setting to ensure visibility). */
    --default-font-size-setting: 100%;
    /* Now we set the default font size. This variable allows us to manipulate the font scale using a multiplier, similarly to the margins and padding above. */
    --default-font-size-default: 1rem;
    /* Now the multiplier (this creates a proper typography scale, Google "type scales" for more info. */
    --default-font-size-scale: 1.333;
    --default-font-size-caption: calc(var(--theme-font-size-default, var(--default-font-size-default)) / var(--theme-font-size-scale, var(--default-font-size-scale)));
    --default-font-size-copy: var(--theme-font-size-default, var(--default-font-size-default));
    --default-font-size-h5: calc(var(--theme-font-size-default, var(--default-font-size-default)) * var(--theme-font-size-scale, var(--default-font-size-scale)));
    --default-font-size-h4: calc(var(--theme-font-size-h5, var(--default-font-size-h5)) * var(--theme-font-size-scale, var(--default-font-size-scale)));
    --default-font-size-h3: calc(var(--theme-font-size-h4, var(--default-font-size-h4)) * var(--theme-font-size-scale, var(--default-font-size-scale)));
    --default-font-size-h2: calc(var(--theme-font-size-h3, var(--default-font-size-h3)) * var(--theme-font-size-scale, var(--default-font-size-scale)));
    --default-font-size-h1: calc(var(--theme-font-size-h2, var(--default-font-size-h2)) * var(--theme-font-size-scale, var(--default-font-size-scale)));
    /* Defining Heading Paint Variables (these could extend much farther than just the font family, color, and weight of course) */
    /* H1 */
    --default-h1-font: var(--theme-font-sans, var(--default-font-sans));
    --default-h1-color: var(--theme-brand-color-1, var(--default-brand-color-1));
    --default-h1-font-weight: 400;
    /* H2 */
    --default-h2-font: var(--theme-font-sans, var(--default-font-sans));
    --default-h2-color: var(--theme-brand-black, var(--default-brand-black));
    --default-h2-font-weight: 700;
    /* H3 */
    --default-h3-font: var(--theme-font-sans, var(--default-font-sans));
    --default-h3-color: var(--theme-brand-color-5, var(--default-brand-color-5));
    --default-h3-font-weight: 400;
    /* H4 */
    --default-h4-font: var(--theme-font-sans, var(--default-font-sans));
    --default-h4-color: var(--theme-brand-black, var(--default-brand-black));
    --default-h4-font-weight: 700;
    /* H5 */
    --default-h5-font: var(--theme-font-sans, var(--default-font-sans));
    --default-h5-color: var(--theme-brand-color-1, var(--default-brand-color-1));
    --default-h5-font-weight: 400;
    /* Colors =============================================================== */
    /* Define black, gray, and white. */
    --default-brand-white: rgba(255, 255, 255, 1);
    --default-brand-gray: rgba(225, 225, 225, 1);
    --default-brand-black: rgba(30, 30, 30, 1);
    /* Define "stoplight" colors - these are used in instances where you need to indicate go, slow, stop, good, warning, bad, etc. */
    --default-brand-stop: red;
    --default-brand-slow: yellow;
    --default-brand-go: green;
    /* Define the actual theme colors. The names of these variables can change, but I like the consistency. We might want to go with "main color" and "accent color" etc. */
    --default-brand-color-1: rgba(50, 0, 200, 1);
    --default-brand-color-2: rgba(60, 0, 180, 1);
    --default-brand-color-3: rgba(70, 0, 160, 1);
    --default-brand-color-4: rgba(80, 0, 140, 1);
    --default-brand-color-5: rgba(90, 0, 120, 1);
}